div#root-quiz-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    border: 1px solid black;
    height: calc(100% - 160px);
}

div#quiz-button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

span#question-label {
    font-size: 18px;
    font-weight: bold;
}

div#quiz-question-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

button#answer-button {
    flex: 1;
}

button#answer-button.cheating {
    background-color: lightyellow;
}
